*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    overflow-x: hidden;
} 

  body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #sideNav{
    display: none;
  }
  header.top-header{
      width: 85%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
  }
  header div.info{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .menu-wrapper{
    display: flex;
    align-items: center;
  }
  header p.logo{
    color: black;
    background-color: transparent;
    display: flex;
    font: bolder;
    justify-content: center;
    align-content: center;
    font-weight: bold;
  }
  header p.logo span{
    color: #63799E;
    font-weight: bold;
  }
  header div.title{
    padding: 0.6rem;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;    
    width: 100%;
  }
  header .info p{
    margin: 0;
  }
  header div.info p.home-button{
    margin: 0px 20px 0 20px;
  }
  header div.info p.business{
    margin: 0px 10px 0 10px;
  }
  header div.info a.empresas-button{
     text-decoration:none;
     color: black;
  }
  header div.info a.candidates-button{
    text-decoration:none;
    color: black;
 }
  header div.info p.candidates{
    margin: 0px 10px 0 10px;
  }
  header div.info p.faqs{
    margin: 0px 10px 0 10px;
  }
  header div.info .select{
    margin-top: 30px;
    margin: 0px 10px 0 10px;
  }
  header div.info select{
    border: none;
  }
  header button.contact-button{
    height: 40px;
    width: 140px;
    border-radius: 7px;
    background-color:#63799E ;
    color: white;
    border: none;
    transition: 300ms;
  }
  header button.contact-button:hover{
    background-color:transparent;
    color: black;
    border:#63799E solid 1px ;
  }
   header div.button{
     border: none;
     margin-top: 5px;
     display: flex;
     align-items: center;
   }
   .question{
     margin: 0 auto;
   }
   .puestos{
    text-align: center;
    color: #63799E;
    font-size: 13px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 3.2rem;
   }
   #idioma{
     outline: none;
   }
   .menu-wrapper .menu-hmb{
    display: none;
   }

   h1{
       width: 30%;
       display: flex;
       justify-content: center;
       text-align: center;
       margin-left: 33%;
       
   }
   h2{
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 33%;
    margin-top: 2%;
    margin-top: 50px;
}
.buttons .candidate-buttons button{
    width: 100%;
}

main div.images{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div.images div.logo{
  object-fit: cover;
  display: inline-block;
  margin: 0 0.6rem;
}

.images-wrapper{
  width: 100%;
  overflow:auto;
  white-space: nowrap;
}

.google-img{
  overflow: hidden;
  object-fit: cover;
  width: fit-content;
  height: 4.4rem;
}
#offers{
  margin: 0 auto;
  margin-top: 4rem;
}
#technologies{
  margin: 0 auto;
  margin-top: 4rem;
}
#contacto{
  margin: 0 auto;
  margin-top: 4rem;
}

footer h4{
  color: black;
}
footer span{
    color: #63799E;
    font-weight: bold;
  }
@media(max-width:1024px){
    
    .top-header{
      margin-left: 0;
    }

    #sideNav{
      display: block;
      width: 35%;
      height: 100vh;
      position: fixed;
      right: -250px;
      top: 0;
      background: rgb(110, 107, 107);
      z-index: 2;
      transition: 0.5s;
    }
    .side-menu{
      list-style: none;
    }
    .side-menu{
      width: 100%;
      margin-left: 10%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .side-menu a{
      text-decoration: none;
      color: white;
    }
    header div.info{
      display: none;
    }

    .menu-wrapper{
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      top: 0%;
    }
    .menu-wrapper .menu-hmb{
      display: block;
      font-size: 1.6rem;
      margin: 0.7rem 0.8rem;
      cursor: pointer;
    }

    main h1{
      width: 90%;
      margin-left: 15px;
    }

    div.buttons-desktop button {
      background-color: transparent;
      border: #63799E solid 1px;
      border-radius: 16px;
      margin: 0.5rem 0;

  }
  div.buttons div.candidate-buttons{
      width: 90%; 
  }
  div.buttons-desktop{
      display: flex;
      justify-content: center;
      margin: 1rem 0;
  }

  .buttons button .designer{
      width: 80%;
      font-size:14px;
      display: flex;
      justify-content: left;
      margin: 1rem 0 0 2rem;
      color:#000F25;
  }
  .buttons span.google{
      color: #6791D9;
      margin-left: 0.5rem;
  }
  .buttons button .adress{
      width: 100%;
      font-size:12px;
      display: flex;
      justify-content: left;
      margin: 1rem 0 1rem 2rem;
      color:#000F25;
  }
  .buttons span.date{
    display: none
  }
  .buttons .date-mobile{
    font-size: 11px;
    display: flex;
    justify-content: left;
    margin: 1rem 0 1rem 2rem;
  }
  .buttons h3 .adress{
      width: 100%;
  }
  .buttons span.date{
      width: 37%;   
  }
  .scrollbox{
    width: 100%;
    height: 32rem;
  }
    h2{
      width: 90%;
      margin-left: 6%;
    }
    main div.images{
      display: flex;
      flex-direction: row;
      margin: 40px 0 30px 0%;
    }

    main form{
      flex-direction: column;
      align-items: center;
      width: 90%;
      padding: 0 0.7rem;
    }
    main form{
      border: 2px solid #63799E;
        display: flex;
        justify-content: space-around;
        width: 85%;
        height: 30%;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 10px;
      }
      .file input{
        display: none;
      }
      .file label{
        text-align: center;
        font-weight: bolder;
        font-size: 20px;
        color: gray;
        display: block;
        padding: -5px 0 6px 0;
        border: 2px solid #63799E;
        margin: 1rem 0;
        width: 5rem;
        border-radius: 14px;
      }
      main form div.inputs{
        width: 100%;
        margin: 2rem;
      }
      
      main form div.inputs input{
        width: 100%;
        padding: 7px 7px;
        margin: 1rem 0;
        border-radius: 10px;
        border: 2px solid #63799E;
        outline: none;
      }
      main form div.inputs select{
        width: 100%;
        padding: 7px 7px;
        margin: 0.8rem 0;
        border-radius: 10px;
        outline: none;
        border: 2px solid #63799E;
      }
      main form div.details{
        box-sizing: border-box;
        width: 100%;
        margin: 2rem;
        margin: -1.8rem 0 1.8rem 0;
      }
      main form div.details select{
        width: 100%;
        padding: 7px 7px;
        margin: 0.8rem 0;
        border-radius: 10px;
        border: 2px solid #63799E;
        outline: none;
      }
      main form div.details h3.mensaje{
        margin-bottom: 15px;
      }
      main form div.details textarea{
        width: 100%;
        height: 15%;
        border-radius: 10px;
        border: 2px solid #63799E;
        outline: none;
      }
      main form div.details input{
          color: transparent;
          border: none;
      }
      main form .condition{
        width: 100%;
        margin-top: 0.6rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
      }
      
      main form .acept-conditions{
        display: flex;
        justify-content: center;
        gap: 6px;
      }
      main form div.condition h3{
        font-size: 15px;
      }
      main form div.condition input{
        margin: 5px 5px 0 0;
      }
      main form div.condition button.send-button{
        width: 20%;
        border: #63799E solid 1px;
        background-color: #63799E;
        padding: 0.4rem 0.5rem;
        color: white;
        border-radius: 6px;
        transition: 300ms;
        outline: none;
      }
      main form div.condition button.send-button:hover{
        background-color: transparent;
        color:black ;
        transition: 300ms;
      }

    .condition{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 14px;
    }

    footer div.info{
        display: none;
      }
      footer div.social-media{
          display: flex;
          justify-content: center;
      }
      footer div.social-media a.wpp{
        margin: 8px;
      }
      footer div.social-media a.linkedin{
        margin: 8px;
      }
      footer div.social-media a.gmail{
        margin: 8px;
      }
      div.footer h4{
          display: flex;
          justify-content: center;
          margin: 0.5rem;
      }
      .linea{
        display: none;
      }
      .rights{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .rights p{
        text-align: center;
        margin: 1rem; 
      }
    }
    @media(min-width:1024px){
           
       div.buttons-desktop button {
                background-color: transparent;
                border: #63799E solid 1px;
                border-radius: 16px;
                margin: 0.5rem 0;

            }
            div.buttons div.candidate-buttons{
                width: 40%; 
            }
            div.buttons-desktop{
                display: flex;
                justify-content: center;
                margin: 1rem 0;
            }
            .scrollbox{
              width: 100%;
              height: 30rem;
            }
            .images-wrapper{
              width: 50%;
              overflow:auto;
              white-space: nowrap;
            }
            .buttons button .designer{
                width: 40%;
                font-size:14px;
                display: flex;
                justify-content: left;
                margin: 1rem 0 0 2rem;
                color:#000F25;
            }
            .buttons span.google{
                color: #6791D9;
                margin-left: 0.5rem;
            }
            .buttons .date-mobile{
              display: none;
            }
            .buttons button .adress{
                width: 100%;
                font-size:12px;
                display: flex;
                justify-content: left;
                margin: 1rem 0 1rem 2rem;
                color:#000F25;
            }
            .buttons h3 .adress{
                width: 100%;
            }
            .buttons span.date{
                width: 37%;
            }

            main form{
              border: 2px solid #63799E;;
              display: flex;
              justify-content: space-around;
              width: 60%;
              height: 34%;
              margin: 0 auto;
              margin-top: 30px;
              border-radius: 10px;
              box-shadow: 0px 20px 40px #EAEAEA;
              margin-bottom: 4rem;
            }
            main form div.inputs{
              width: 100%;
              margin: 2rem;
            }
            main form div.inputs input{
              width: 100%;
              padding: 7px 7px;
              margin: 1rem 0;
              border-radius: 10px;
              border: rgb(110, 110, 110) solid 2px;
              outline: none;
              border: 2px solid #63799E;
            }
            .experience{
              width: 100%;
              padding: 7px 7px;
              margin: 1rem 0;
              border-radius: 10px;
              border: 2px solid #63799E;
              outline: none;
            }
            .file input{
              display: none;
            }
            .file label{
              text-align: center;
              font-weight: bolder;
              font-size: 20px;
              color: gray;
              display: block;
              padding: -5px 0 6px 0;
              border: 2px solid #63799E;
              margin: 1.1rem 0;
              width: 5rem;
              border-radius: 10px;
            }
            main form div.details{
              box-sizing: border-box;
              width: 100%;
              margin: 2rem 2rem 0 2rem;
            }
            main form div.details select{
              width: 100%;
              padding: 7px 7px;
              margin: 0.9rem 0;
              border-radius: 10px;
              border: 2px solid #63799E;
              outline: none;
            }
            main form div.details h3.mensaje{
              margin-bottom: 15px;
            }
            main form div.details textarea{
              width: 100%;
              height: 15%;
              border-radius: 10px;
              border: rgb(110, 110, 110) solid 2px;
              outline: none;
            }
            main form .condition{
              width: 100%;
              margin: 0.6rem 0 1rem 0;
              display: flex;
              justify-content: space-between;
              align-content: center;
            }
            
            main form .acept-conditions{
              display: flex;
              justify-content: center;
              gap: 6px;
            }
            main form div.condition h3{
              font-size: 15px;
            }
            main form div.condition input{
              margin: 5px 5px 0 0;
            }
            main form div.condition button.send-button{
              width: 20%;
              border: #63799E solid 1px;
              background-color: #63799E;
              padding: 0.4rem 0.5rem;
              color: white;
              border-radius: 6px;
              transition: 300ms;
              outline: none;
            }
            main form div.condition button.send-button:hover{
              background-color: transparent;
              color:black ;
              transition: 300ms;
            }
            footer{
              border-top: gray solid 2px;
              margin: 2.2rem auto;
              width: 62%;
              margin-top: 0px;
            }
            .footer{
              margin-top: 1.2rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              text-align: center;
            }
            footer div.social-media{
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            footer div.social-media a.wpp{
              margin: 5px;
            }
            footer div.social-media a.linkedin{
              margin: 5px;
            }
            footer div.social-media a.gmail{
              margin: 5px;
            }
            footer div.info{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;
                margin-left: 35px;
              } 
            
              footer div.title{
                border-bottom: black solid 1px;
                display: flex;
                flex-direction: row;
                width: 100%;
              }
              footer div.info p.home-button{
                margin: 20px 30px 0 30px;
              }
              footer div.info p.business{
                margin: 20px 10px 0 10px;
              }
              footer div.info a.empresas-button{
                 text-decoration:none;
                 color: black;
              }
              footer div.info p.candidates{
                margin: 20px 30px 0 30px;
              }
              footer div.info p.faqs{
                margin: 20px 30px 0 30px;
              }
              footer div.info .select{
                margin-top: 30px;
                margin: 20px 30px 0 30px;
              }
              footer div.info select{
                border: none;
              }
              footer div.rights{
                display: flex;
                justify-content: center;
                width: 100%;
              }
              footer div.rights p{
                margin: 15px;
                width: 25%;
              }  
              footer div.linea p{
                width: 100%;
              }
    }
