*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    overflow-x: hidden;
} 

  body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
    border: 1px solid #63799E;
    border-radius: 8px;
    margin: 0 auto;
  }


span.google{
    color: #6791D9;
    margin-left: 0.5rem;
}

.designer{
    width: 100%;
    
    display: flex;
    justify-content: left;
    color:#000F25;
}
div.adress{
    font-size: 0.6rem;
}
div.adress h2{
    font-weight: lighter;
}
div.adress span{
    font-weight: bold;
}
h3.location{
    font-size: 1rem;
}
h3.location h3{
    font-weight: bold;
}
h3.location span.remote{
    font-weight: lighter;
}
h3.engagement{
    font-size: 1rem;
}
h3.engagement h3{
    font-weight: bold;
}
h3.engagement span.date{
    font-weight: lighter;
}
p{
    margin-bottom: 1.5rem;
}
h3{
   font-size: 1rem; 
   margin-top: 1rem;
}
h4{
    font-size: 1rem;
    font-weight: 375;
}
.apply{
    width: 15%;
    border: #63799E solid 1px;
    background-color: #63799E;
    padding: 0.6rem 0.5rem;
    color: white;
    border-radius: 6px;
    transition: 300ms;
    outline: none;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    border-radius: 17px;
}
@media(min-width: 768px){
    body{
       width: 768px; 
       margin: 1rem auto;
    }
}