*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    overflow-x: hidden;
} 

  body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    padding: 2rem;
    border: 1px solid #63799E;
    border-radius: 8px;
    margin: 0 auto;
  }


span.google{
    color: #6791D9;
    margin-left: 0.5rem;
}

.designer{
    width: 100%;
    
    display: flex;
    justify-content: left;
    color:#000F25;
}
div.adress{
    font-size: 0.6rem;
}
div.adress h2{
    font-weight: lighter;
}
div.adress span{
    font-weight: bold;
}
h3.location{
    font-size: 1rem;
}
h3.location h3{
    font-weight: bold;
}
h3.location span.remote{
    font-weight: lighter;
}
h3.engagement{
    font-size: 1rem;
}
h3.engagement h3{
    font-weight: bold;
}
h3.engagement span.date{
    font-weight: lighter;
}
p{
    margin-bottom: 1.5rem;
}
h3{
   font-size: 1rem; 
   margin-top: 1rem;
}
h4{
    font-size: 1rem;
    font-weight: 375;
}
.apply{
    width: 40%;
    border: #63799E solid 1px;
    background-color: #63799E;
    padding: 0.6rem 0.5rem;
    color: white;
    border-radius: 6px;
    transition: 300ms;
    outline: none;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    border-radius: 17px;
}
  form div.condition button.send-button:hover{
    background-color: transparent;
    color:black ;
    transition: 300ms;
  }
  footer{
    border-top: gray solid 2px;
    margin: 2.2rem auto;
    width: 62%;
    margin-top: 0px;
  }
      form{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 0.7rem;
      }
      form{
        border: 2px solid #63799E;
          display: flex;
          justify-content: space-around;
          width: 100%;
          height: 30%;
          margin: 0 auto;
          margin-top: 30px;
          border-radius: 10px;
        }
        .file input{
          display: none;
        }
        .file label{
            cursor: pointer;
          text-align: center;
          font-weight: bolder;
          font-size: 20px;
          color: gray;
          display: block;
          border: 2px solid #63799E;
          margin: 1rem 0;
          width: 5rem;
          border-radius: 14px;
        }
        form div.inputs{
          width: 100%;
          margin: 2rem;
        }
        
        form div.inputs input{
          width: 100%;
          padding: 7px 7px;
          margin: 1rem 0;
          border-radius: 10px;
          border: 2px solid #63799E;
          outline: none;
        }
        form div.inputs select{
          width: 100%;
          padding: 7px 7px;
          margin: 0.8rem 0;
          border-radius: 10px;
          outline: none;
          border: 2px solid #63799E;
        }
        form div.details{
          box-sizing: border-box;
          width: 100%;
          margin: 2rem;
          margin: -1.8rem 0 1.8rem 0;
        }
        form div.details select{
          width: 100%;
          padding: 7px 7px;
          margin: 0.8rem 0;
          border-radius: 10px;
          border: 2px solid #63799E;
          outline: none;
        }
        form div.details h3.mensaje{
          margin-bottom: 15px;
        }
        form div.details textarea{
          width: 100%;
          height: 15%;
          border-radius: 10px;
          border: 2px solid #63799E;
          outline: none;
        }
        form div.details input{
            color: transparent;
            border: none;
        }
        form .condition{
          width: 100%;
          margin-top: 0.6rem;
          display: flex;
          justify-content: space-between;
          align-content: center;
        }
        
        form .acept-conditions{
          display: flex;
          justify-content: center;
          gap: 6px;
        }
        form div.condition h3{
          font-size: 15px;
        }
        form div.condition input{
          margin: 5px 5px 0 0;
        }
        form div.condition h3{
            margin: 0 0 0 0;
        }
        form div.condition button.send-button{
          width: 20%;
          border: #63799E solid 1px;
          background-color: #63799E;
          padding: 0.4rem 0.5rem;
          color: white;
          border-radius: 6px;
          transition: 300ms;
          outline: none;
        }
        form div.condition button.send-button:hover{
          background-color: transparent;
          color:black ;
          transition: 300ms;
        }
  
      .condition{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
      }
@media(min-width: 768px){
    body{
       width: 768px; 
       margin: 1rem auto;
    }
    .apply{
        width: 20%;
    }
}
