.header #sideNav {
  display: none;
}
.header header.top-header {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.header header div.info {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header header .menu-wrapper {
  display: flex;
  align-items: center;
}
.header header p.logo {
  color: black;
  background-color: transparent;
  display: flex;
  font: bolder;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}
.header header p.logo span {
  color: #63799e;
  font-weight: bold;
}
.header header div.title {
  padding: 0.6rem;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header header .info p {
  margin: 0;
}
.header header div.info p.home-button {
  margin: 0px 20px 0 20px;
}
.header header div.info p.business {
  margin: 0px 10px 0 10px;
}
.header header div.info a.empresas-button {
  text-decoration: none;
  color: black;
}
.header header div.info a.candidates-button {
  text-decoration: none;
  color: black;
}
.header header div.info p.candidates {
  margin: 0px 10px 0 10px;
}
.header header div.info p.faqs {
  margin: 0px 10px 0 10px;
}
.header header div.info .select {
  margin-top: 30px;
  margin: 0px 10px 0 10px;
}
.header header div.info select {
  border: none;
}
.header header button.contact-button {
  cursor: pointer;
  height: 40px;
  width: 140px;
  border-radius: 7px;
  background-color: #63799e;
  color: white;
  border: none;
  transition: 300ms;
}
.header header button.contact-button:hover {
  background-color: transparent;
  color: black;
  border: #63799e solid 1px;
}
.header header div.button {
  border: none;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px){
  .sideNav{
    right: -250px;
  }
   .header .menu-wrapper .menu-hmb {
    display: block;
    font-size: 1.6rem;
    margin: 0.7rem 0.8rem;
    cursor: pointer;
  } 
}