*{
    font-family: 'Manrope', sans-serif;
}
.contenedorHamburguesa{
    background-color: white;
    box-shadow: -3px 0px 64px -13px rgba(0,0,0,0.75);
    height: 100%;
    width: 60vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0px;
    right: 0px;
    animation: deslizar 1s ;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.listaHamburguesa{

    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
.listaHamburguesa li{
    list-style: none;
    
}
.listaHamburguesa li a{
    color: black;
}
.closeMenu{
    font-size: x-large;
    margin-left: 30px;
}

@keyframes deslizar {
    from{
        right: -300px;
    }
    to{
        right: 0px;
    }
    
}